@font-face {
    font-family: 'Press Start 2P';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', Arial, sans-serif; /* Apply the pixel font */
    background: linear-gradient(to bottom right, #333, #000);
    color: #fff;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center horizontally */
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px; /* Adjust margin as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    padding: 150px 20px; /* Increased padding for the "About Me" section */
    text-align: center;
    background: transparent; /* Remove individual background gradients */
}

section h2 {
    margin-bottom: 50px;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    background: rgba(255, 255, 255, 0.1);
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    margin-top: 0;
}

.project-image {
    width: 100px; /* Set the width of the image */
    margin-bottom: 20px;
}

.project-image img {
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: auto;
}

.project-details {
    text-align: center; /* Center-align the text */
}


a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.icon-link:hover {
    transform: translateY(-3px);
}

.icon-link img {
    max-width: 100%;
    width: 100px; /* Adjust icon size as needed */
    height: auto;
}


.about-container {
    position: relative;
    width: 85%; /* Adjust the width as needed */
    height: 300%;
    margin: auto;
    padding: 40px;
    background: linear-gradient(135deg, #252B37, #151823);
    border-radius: 10px;
    animation: animateBorder 10s ease infinite;
}

@keyframes animateBorder {
    0% {
        box-shadow: 0 0 10px 5px #0fffc1;
    }
    50% {
        box-shadow: 0 0 10px 5px #7e0fff;
    }
    100% {
        box-shadow: 0 0 10px 5px #0fffc1;
    }
}

.with-animation {
    position: relative;
}

.with-animation .about-content {
    animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
    0% {
        filter: blur(5vw);
        background: linear-gradient(270deg, #0fffc1, #7e0fff);
        background-size: 200% 200%;
    }
    50% {
        filter: blur(5vw);
        background: linear-gradient(270deg, #7e0fff, #0fffc1);
        background-size: 200% 200%;
    }
    100% {
        filter: blur(5vw);
        background: linear-gradient(270deg, #0fffc1, #7e0fff);
        background-size: 200% 200%;
    }
}

.about-content {
    display: flex;
    align-items: center;
}

.about-image {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust the margin as needed */
}

.about-text {
    flex: 1;
}


.profile-image {
    width: 800px; /* Adjust the width as needed */
    height: auto;
}

